{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container mt-3">
        <h2>Curso - <strong>{{ course_name }}</strong></h2>
        <h2>Actualizar Notas - {{ object.student.get_full_name }}</h2>
        <form method="POST" action="">
            {% csrf_token %}

            <div class="card mx-auto" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Ingrese las calificaciones</h5>
                    {{ form | crispy }}

                    <button class="btn btn-primary float-end" type="submit">Guardar datos</button>
                    <button class="btn btn-secondary" type="button" onclick="goBack()">Volver</button>
                </div>
            </div>
        </form>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
{% endblock %}